#env-switcher
env-switcher() {
  local __env_switcher_status
  __ENV_SWITCHER_TARGET_SHELL=zsh "$HOME/.env-switcher/bin/env-switcher" "$@"
  __env_switcher_status=$?
  [ -f "$HOME/.env-switcher/current-env" ] && source "$HOME/.env-switcher/current-env"
  return $__env_switcher_status
}
